.UMayLike_flex {
  display: flex;
  margin-top: 36px;
}

.UMayLike_right_side {
  margin-left: 47px;
}

.UMayLike_dish_name {
  font-family: "Roboto", sans-serif;
  gap: 75px;
  font-size: 21px;
  margin-top: 9px;
  width: 258px;
}

.UMayLike_description_dish {
  font-family: "Roboto", sans-serif;
  margin-bottom: 27px;
  font-size: 16px;
  width: 258px;
}
.UMayLike_dishInFoodCard {
  width: 161px;
  height: 170px;
}
