.head {
  width: 100%;
  height: 125px;
  background-color: #000;
  position: fixed;
  top: 0;
  z-index: 100;
  @media (max-width: 550px) {
    width: 100%;
    height: 96px;
  }
  .nav {
    max-width: 1296px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media (max-width: 550px) {
      width: 90%;
      margin: 0 auto;
    }
  }

  .logo {
    width: 175px;
    height: 88px;
    //margin-right: 464px;
    padding-top: 18px;
    @media (max-width: 550px) {
      width: 118px;
      height: 59px;
      margin-left: 0;
      //margin-right: 0;
    }
  }

  input {
    margin-top: 29px;
  }

  .basket {
    width: 50px;
    height: 50px;
    padding-top: 37px;
    @media (max-width: 550px) {
      width: 34px;
      height: 34px;
      padding-top: 26px;
    }
  }

  .logo_width {
    width: 175px;
    //margin-right: 464px;
    @media (max-width: 550px) {
      //margin-right: 0;
      margin-left: 0;
      width: 118px;
    }
  }
}

body {
  margin: 0px;
}

.inp_bask {
  display: flex;
  flex-direction: row;
  width: 649px;
  justify-content: space-between;
  @media (max-width: 550px) {
    width: 259px;
  }
}