.basket-order {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  margin: auto 0;
  @media (max-width: 550px) {
    display: flex;
    justify-content: center;
    font-size: 32px;
  }
}

.basket-price {
  margin: auto 0;
  font-family: "Roboto", sans-serif;
  color: #f77d2d;
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 10px;
  margin-bottom: 11px;
  @media (max-width: 550px) {
    display: flex;
    justify-content: center;
    font-size: 64px;
  }
}

.order {
  margin-top: 60px;
  @media (max-width: 550px) {
    margin-top: 32px;
  }
}

.btn_order {
  @media (max-width: 550px) {
    display: flex;
    justify-content: center;
  }
}
