.flex {
  display: flex;
  column-gap: 75px;
  justify-content: center;
  @media (max-width: 550px) {
    //flex-direction: column;
    column-gap: 6px;
  }
}

.right_side {
  @media (max-width: 550px) {
    margin-left: 6px;
  }
}

.dish_name {
  font-family: "Roboto", sans-serif;
  gap: 75px;
  font-size: 35px;
  margin-top: 9px;
  width: 258px;
  @media (max-width: 550px) {
    width: 145px; //
    font-size: 18px;
  }
}

.description_dish {
  font-family: "Roboto", sans-serif;
  margin-bottom: 27px;
  font-size: 25px;
  width: 258px;
  @media (max-width: 550px) {
    width: 154px;
    font-size: 15px;
  }
}
.dishInFoodCard {
  @media (max-width: 550px) {
    width: 165px;
    height: 185px;
  }
}
