.btn {
  width: 92px;
  height: 40px;
  border-radius: 7px;
  border: none;
  background-color: black;
  border: solid 1px white;
  color: white;
  font-size: 20px;
  text-align: center;
}

.btn:hover {
  cursor: pointer;
  background-color: #d9d9d9;
  color: rgb(0, 0, 0);
  border: solid 1px rgb(0, 0, 0);
  transition: border 0.5s;
  transition: background-color 0.3s;
}

.text_plas_1 {
  font-family: "Roboto", sans-serif;
  margin: 0px;
}

//btn-big

.btn_big {
  width: 333px;
  height: 80px;
  border-radius: 50px;
  border: none;
  background-color: #ffe100;
  color: black;
  font-size: 36px;
  text-align: center;
  @media (max-width: 550px) {
    width: 217px;
    height: 80px;
    border-radius: 7px;
    font-size: 32px;
  }
}

.btn_big:hover {
  cursor: pointer;
  background-color: #000000;
  color: #d9d9d9;
  transition: background-color 0.3s;
}

.text_btn_big {
  font-family: "Roboto", sans-serif;
  margin: 0px;
}

//btn-plus

.btn_plas1 {
  width: 147px;
  height: 60px;
  border-radius: 7px;
  border: none;
  background-color: black;
  border: solid 1px white;
  color: white;
  font-size: 36px;
  text-align: center;
  @media (max-width: 550px) {
    width: 104px;
    height: 51px;
    font-size: 24px;
  }
}

.btn_plas1:hover {
  cursor: pointer;
  background-color: #d9d9d9;
  color: rgb(0, 0, 0);
  border: solid 1px rgb(0, 0, 0);
  transition: background-color 0.3s;
}

.text_plas_1 {
  font-family: "Roboto", sans-serif;
  margin: 0px;
}
